<%= render 'layouts/mobile_nav' %>
<div class="bg-fixed bg-cover bg-bottom h-70" style="background-image: url(https://images.unsplash.com/photo-1576222901803-c062b57925b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
<div class="text-6xl text-center text-white font-semibold capitalize pt-16">about us</div>
</div>
<div class="space-y-2 text-center text-5xl p-5 leading-relaxed whitespace-pre-line">Domain Group offers an ecosystem of leading multi-platform property solutions.

    Through Domain, Allhomes and Commercial Real Estate, we deliver property marketing solutions for residential, new development and commercial properties, plus the latest market intel that attracts qualified buyers, sellers, renters and investors to your listings.
    
    Our award winning digital products – including our property app, and captivating Domain and Domain Review property magazines are designed to maximise your exposure, helping you achieve the best results faster.
    
    Our editorial teams continue to lead the Australian property conversation, connecting advertisers with highly engaged and informed consumers right across the buying cycle.
    
    Reaching 5.6 million Australians*, Domain Media offers tailored campaign solutions to engage with consumers across multiple touchpoints.
    
    Domain Group hosts a suite of solutions tailored to running an efficient and successful real estate office, including Pricefinder, Homepass and home connections technology.
    
    No matter what you’re after, Domain Group has your property needs covered.</div>
