<ul class="flex pr-40 pl-40 bg-teal-700 fixed bottom-0 w-full lg:hidden">
  <li class="mr-6 py-4">
  <%= link_to "talk to us", pages_request_listing_path, class:"text-white text-3xl capitalize" %>
  </li>
  <li class="mr-6 py-4">
  <%= link_to "about us", pages_about_us_path, class:"text-white text-3xl capitalize" %>
  </li>
  <li class="mr-6 py-4">
    <a class="text-white text-3xl capitalize" href="#">careers</a>
  </li>
</ul>